body {
    background-color: black;
    margin:0;
}
.post {
    width: 600px;
    margin: auto;
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text h2, .text h3 {
   margin: 5px;
   font-size: 10px;
   font-weight: 500;

}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    width: 580px;
    padding: 5px;
}

.contenido {
    padding: 5px;
    text-align: justify;
    font-size: 12px;
    margin-top:0px;
    
 }

.post-icons {
    margin-left: 5px;
}

.fa-bookmark {
    float: right;
    margin-top:10px;
    margin-right: 5px;
}
